:root{

    /* GOLDEN RATIO */

    --dp-accentBlue: #001AFF;
    --dp-fillColorGreen: #32b706;
    --dp-fillColorPurple: #661AE0;
    --dp-canvasBackgroundColor: #FCF7E9;
    --dp-famePea: #E15635;
}